/* Container principal do acordeão */
.acordion-container {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--neutro-200);
  background: var(--neutro-100);
}

/* Transição de cor de fundo quando aberto */
.acordion-container.is-open {
  border-color: var(--neutro-300);
}

/* Container do conteúdo: pergunta e resposta */
.acordion-content {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;  
}

/* Estilos para o texto da pergunta */
.acordion-pergunta {
  width: 872px;
  color: var(--neutro-600);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}

/* Wrapper da resposta para animação de altura e opacidade */
.acordion-resposta-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 0;
}

.acordion-resposta-wrapper.is-open {
  max-height: 200px;
  opacity: 1;
}

/* Estilos para o texto da resposta */
.acordion-resposta {
  width: 855px;
  color: var(--neutro-500);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  padding-top: 10px;
}

.acordion-icone-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 90px;
  flex-shrink: 0;
  cursor: pointer;
}

.acordion-icone-wrapper svg {
  width: 26px;
  height: 26px;
  /* A transição aqui é redundante, pois a animação será feita nos wrappers */
  transition: transform 300ms ease-out;
}

/* Container para a transição dos ícones. Ele agora usa grid */
.icone-transicao-container {
  width: 26px;
  height: 26px;
  display: grid;
  place-items: center;
}

/* Wrappers individuais dos ícones para controlar a animação */
.expandir-icon-wrapper,
.recolher-icon-wrapper {
  /* Ocupam a mesma célula na grade para se sobreporem */
  grid-area: 1 / 1 / 2 / 2;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

/* Estado inicial do ícone de expansão */
.expandir-icon-wrapper {
  opacity: 1;
  transform: rotate(0deg);
}

/* Estado final (escondido) do ícone de expansão */
.expandir-icon-wrapper.hidden {
  opacity: 0;
  transform: rotate(-45deg);
}

/* Estado inicial (escondido) do ícone de recolhimento */
.recolher-icon-wrapper {
  opacity: 0;
  transform: rotate(45deg);
}

/* Estado final (visível) do ícone de recolhimento */
.recolher-icon-wrapper.visible {
  opacity: 1;
  transform: rotate(0deg);
}

@media screen and (max-width: 768px) {
  
  .acordion-icone-wrapper {
    width: 40px;
    height: 90px;
  }

  .acordion-pergunta {
    width: 200px;
    font-size: var(--body-16-semi-size);
  }  

  .acordion-resposta {
    width: 200px;
    font-size: var(--body-16-semi-size);
  }
  
}