/* Container principal do acordeão */
.acordion-container {
  display: flex;
  width: 1008px;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--neutro-200);
  background: var(--neutro-100);
  /* cursor: pointer; REMOVIDO */
}

/* Container do conteúdo: pergunta e resposta */
.acordion-content {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}

/* Estilos para o texto da pergunta */
.acordion-pergunta {
  width: 872px;
  color: var(--neutro-600);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}

/* Estilos para o texto da resposta */
.acordion-resposta {
  width: 855px;
  color: var(--neutro-500);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  animation: fadeIn 0.3s ease-in-out; 
}

/* Animação do texto */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Estilos para o wrapper do ícone */
.acordion-icone-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 90px;
  flex-shrink: 0;
  cursor: pointer; 
}

/* Estilos para os SVGs dentro do wrapper */
.acordion-icone-wrapper svg {
  width: 26px; 
  height: 26px; 
  transition: transform 300ms ease-out; 
}

/* Rotação do ícone quando o acordeão está aberto */
.acordion-container.is-open .acordion-icone-wrapper svg {
  transform: rotate(180deg);
}