/*
  SEÇÃO DESCUBRA (ATUALIZAÇÕES)
*/

/* Frame “descubra” */
.frame-atualizacoes-container {
  display: flex;
  width: 1024px;
  padding: 64px 0 96px 0;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  
  background: var(--neutro-000);
}

/* Container para alinhar o conteúdo principal */
.conteudo-atualizacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    width: 100%;
}

/* Texto “Confira as Atualizações:” */
.titulo-atualizacoes {
  align-self: stretch;
  text-align: center;
  
  color: var(--neutro-700);

  font-size: var(--heading-32-size);
  font-weight: var(--heading-32-weight);
  line-height: var(--heading-32-line);
  margin: 0;
}

/* Container de um único item (Frame de Ícone, Texto e Botão) */
.item-topico-container {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
}

/* Frame ícone dos tópicos de atualização */
.frame-icone-topico {
  display: flex;
  width: 56px;
  height: 56px;
  padding: 22px 21px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
}

/* Ícone dos tópicos (div que contém o SVG) */
.icone-topico {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}


/* Frame texto dos tópicos */
.frame-texto-topico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
}

/* Título do tópico */
.titulo-topico {
  align-self: stretch;
  
  color: var(--neutro-600);

  font-size: var(--heading-24-size);
  font-weight: var(--heading-24-weight);
  line-height: var(--heading-24-line);
  margin: 0;
}

/* Data do tópico */
.data-topico {
  overflow: hidden;
  color: #006EFF;
  text-overflow: ellipsis;
  margin: 0;

  font-size: var(--body-18-medium-size);
  font-weight: var(--body-18-medium-weight);
  line-height: var(--body-18-medium-line);
}

/* Botão para ver o tópico */
.botao-ver-topico {
  display: flex;
  width: 64px;
  height: 64px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  background: var(--roxo-claro-03);
  border: none;
  cursor: pointer;
  flex-shrink: 0;
}

/* Seta do botão (SVG) */
.seta-topico {
  width: 15px;
  height: 8px; 
  flex-shrink: 0;
  fill: var(--roxo-principal); 
}

/* Linha divisória de cada tópico */
.linha-divisoria-topico {
  width: 1024px;
  height: 2px;
  background: #ECE4FF; 
}

/* Ajustes para a lista de tópicos */
.lista-topicos {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.lista-topicos .item-topico-container:last-of-type + .linha-divisoria-topico {
    display: none;
}