.button-unifenas{
  display: flex;
  width: 296px;
  height: 64px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--roxo-principal);
  font-size: var(--heading-18-size);
  font-family: var(--font-family);
  font-weight: var(--heading-18-weight);
  line-height: var(--heading-18-line);
  color: var(--neutro-700);
  

}
.button-unifenas img{
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.button-unifenas:hover{
  background-color: var(--roxo-principal);
  color: var(--neutro-100);
  cursor: pointer;
  transition: 0.3s;
}
