.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1232px;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.logo {
  height: 36px;
}

.nav-links {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.links-centrais {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
  width: fit-content;
}
.nav-links hr {
  display: none;
}
a {
  text-decoration: none;
  color: var(--neutro-400, #5c5c5c);
  font-size: var(--body-16-medium-size, 1rem);
  font-weight: var(--body-16-medium-weight, 500);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--azul-principal);
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 0.4rem;
}

.hamburger-menu span {
  display: block;
  width: 25px;
  height: 4px;
  background-color: var(--azul-principal);
  border-radius: 5px;
}

.nav-item-dropdown {
  position: relative;
}

.nav-item-dropdown a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.submenu-links {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--neutro-000);
  border-radius: 0px 0px 5px 5px;
  margin-top: 10px;
  min-width: 150px;
  z-index: 100;
  gap: 8px;
}

.submenu-links.open {
  display: flex;
}

.submenu-links a {
  color: var(--neutro-500);
  padding: 8px 10px;
  text-decoration: none;
  white-space: nowrap;
}

.submenu-links a:hover {
  background-color: var(--neutro-100);
}

@media (max-width: 768px) {
  .navbar-header {
    width: 100%;
    padding: 16px 16px 24px 16px;
  }

  .nav-links {
    border-radius: 0 0 24px 24px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: space-between;

    transition: max-height 0.3s ease-out;
    background-color: var(--neutro-000);
    position: fixed;
    top: 70px;
  }
  .links-centrais {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .navbar.open-nav {
    background-color: var(--neutro-000);
  }

  .nav-links.open {
    margin: 0;
    max-height: 500px;
    padding-top: 40px;
    padding-bottom: 24px;
  }
  .nav-links.open hr {
    gap: 1px;
    width: 80%;
    border-radius: 10px;
    color: var(--azul-principal);
  }

  .hamburger-menu {
    display: flex;
  }

  .logo {
    height: 27px;
  }
}
