.scrollspy-container{
  display: flex;
  gap: 20px;
  margin-top: 64px;
}

.scrollpsy-sidebar {
  display: flex;
  padding: 32px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.sidebar-button{
  color: var(--neutro-300);
  border: none;
  background: none;
  font-size: var(--body-18-medium-size);
  font-weight: var(--body-18-medium-weight);
  line-height: var(--body-18-medium-line)
}
.sidebar-button-active{
  color: var(--neutro-500);
  font-size: var(--heading-18-size);
  font-weight: var(--heading-18-weight);
  line-height: var(--heading-18-height);
}

.scrollspy-content {
  display: flex;
width: 920px;
flex-direction: column;
align-items: flex-start;
gap: 64px;
}