.inteiro {
  width: 100%;
  display: flex;
  justify-content: center;
}

.fundo-unifenas {
  display: flex;
  max-width: 1232px;
  padding: 16px;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;
  border-radius: 16px;
  background: var(--azul-claro-03);
  margin-bottom: 40px;
}

.texto-unifenas {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.texto-unifenas h2 {
  font-size: var(--heading-18-size);
  font-weight: var(--heading-18-weight);
  line-height: var(--heading-18-line);
  color: var(--azul-claro-03);
  border-radius: 4px;
  padding: 8px 16px;
  background: var(--Cores-Primarias-Azul-Principal, #006FFF);
  margin: 0;
}

.texto-unifenas h3 {
  font-size: var(--heading-40-size);
  font-weight: var(--heading-40-weight);
  line-height: var(--heading-40-line);
}

.texto-unifenas span {
  color: var(--azul-principal);
}

.texto-unifenas p {
  font-size: var(--body-18-medium-size);
  font-weight: var(--body-18-medium-weight);
  line-height: var(--body-18-medium-line);
  color: var(--neutro-500);
}

.imagem-unifenas {
  position: relative;
}

.imagem-unifenas img {
  width: 30vw;
}

.eclipse-sobreposto {
  position: absolute;
  top: -40px;
  right: 100px;
}

@media screen and (max-width: 768px) {
  .fundo-unifenas {
    margin: 16px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px;
  }

  .texto-unifenas {
    align-items: center;
    padding: 16px;
    max-width: 256px;
  }

  .texto-unifenas h3 {
    font-size: var(--heading-24-size);
    font-weight: var(--heading-24-weight);
    line-height: var(--heading-24-line);
  }

  .texto-unifenas p {
    font-size: var(--body-14-medium-size);
    font-weight: var(--body-14-medium-weight);
    line-height: var(--body-14-medium-line);
  }

  .imagem-unifenas {
    margin-top: 32px;
  }

  .imagem-unifenas img {
    width: 302px;
  }

  .eclipse-sobreposto {
    top: 50px;
    right: -30px;
  }

  .button-conhecer-mobile {
    display: none;
  }

}