.container-pagina {
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}
.conteudo-textual {
  display: flex;
  width: 608px;
  flex-direction: column;
  align-items: center;

}
.conteudo-textual h2 {  
  padding: 8px 16px;
  border-radius: 4px;
  background: var(--azul-claro-03);
  color: var(--azul-principal);
}
.conteudo-textual h3{
  color: var(--Cores-Neutras-700);
  text-align: center;
  font-size: var(--heading-40-size);
  font-weight: var(--heading-40-weight);
  line-height: var(--heading-40-line);
  margin: 0;
}
.conteudo-textual p {
  color: var(--Cores-Neutras-500);
  text-align: center;  
  font-size: var(--body-18-size);  
  font-weight: var(--body-18-weight);
  line-height: var(--body-18-line);  
  color: var(--neutro-500);
}
.mudavel-lateral {
  flex: 2;
}

.botoes-flex {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.botoes-flex button {
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botoes-flex button:hover {
  background-color: #e9e9e9;
}

.botoes-flex button.ativo {
  border-color: #007bff;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}