/* --- Estilos da página --- */
.container-pagina {
  display: flex;
  padding: 120px 344px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  align-self: stretch;
}

/* --- Estilos do frame centralizado de texto --- */
.conteudo-central {
  display: flex;
  width: 569px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* --- Estilos para o novo componente de tag --- */
.tag-titulo {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--azul-claro-03);
}

.tag-texto {
  color:var(--azul-principal);
  text-align: center;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}

/* --- Estilos para o título da página --- */
.titulo-pagina {
  color: var(--Cores-Neutras-700);
  text-align: center;
  font-family: var(--font-family);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
}

/* --- Estilos para a descrição da página --- */
.descricao-pagina {
  color: var(--Cores-Neutras-500);
  text-align: center;
  font-family:  var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin: 0;
}

/* --- Contêiner para a lista de acordeões (opcional) --- */
.lista-acordeoes {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Espaço entre cada acordeão */
}