.apresentacao{
  display: flex;
  align-items: flex-start;
  padding-top: 20vh;
  justify-content: center;
  max-width: 1920px;
  gap: 80px;
  background: var(--gradiente-azul-claro);
}

.titulo-data{
  display: flex;
  max-width: 705px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.titulo-data h1{
  font-size: var(--heading-64-size);
  font-weight: var(--heading-64-weight);
  line-height: var(--heading-64-line);
  color: var(--neutro-700);
}
.titulo-data p{
  background-color: var(--azul-principal);
  padding: 8px 16px;
  border-radius: 4px;
  color: var(--azul-claro-03)
}

.lateral{
  display: flex;
  max-width: 503px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.infor{
  display: flex;
  padding: 64px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  background-color: var(--neutro-000);
}