.apresentacao{
  display: flex;
  align-items: flex-start;
  padding-top: 20vh;
  justify-content: center;
  max-width: 1920px;
  gap: 80px;
  background: var(--gradiente-azul-claro);
  min-height: 70vh;
}

.titulo-data{
  display: flex;
  max-width: 705px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.titulo-data h1{
  font-size: var(--heading-64-size);
  font-weight: var(--heading-64-weight);
  line-height: var(--heading-64-line);
  color: var(--neutro-700);
}
.titulo-data p{
  background-color: var(--azul-principal);
  padding: 8px 16px;
  border-radius: 4px;
  color: var(--azul-claro-03)
}
.integrantes{
  border-radius: 8px 8px 0 0;
  padding: 24px;
  background: var(--Gradientes-Gradiente-BG, linear-gradient(180deg, #F8F8FC 0%, #DBE6FC 100%));
}
.titulo-integrantes{
  color: var(--azul-principal);
  font-size: var(--heading-24-size);
  font-weight: var(--heading-24-weight);
  line-height: var(--heading-24-line);
}

.titulo-integrantes .wrapper-titulo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.lista-integrantes{  
  list-style: none;
  color: var(--neutro-500);
  font-size: var(--body-18-medium-size);
  font-weight: var(--body-18-medium-weight);
  line-height: var(--body-18-medium-line);
  gap: 16px;
}
.lateral{
  display: flex;
  max-width: 503px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.texto-feature-detail{
  color: var(--neutro-500);
}
.infor{
  display: flex;
  padding: 64px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  background-color: var(--neutro-000);
}

@media (max-width: 768px) {
  .apresentacao{
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    padding-left: 4vh;
    padding-right: 4vh;
    gap: 32px;
  }
  .titulo-data{
    align-items: center;
    text-align: center;
  }
  .lateral{
    max-width: 100%;
  }
  .integrantes{
    width: 100%;    
  }
  .titulo-integrantes .wrapper-titulo {
    display: flex;
    align-items: center;
    flex-direction: row;
  ;
  }
  .lista-integrantes{
    display: flex;
    flex-direction: column;
    gap: 8px;    
  }

}