.fundo-hero {
  background: var(--gradiente-azul-claro);
  justify-items: center;
  padding: 5vh 0vw 0vh 0vw;
  display: grid;
}

.secao-hero {
  display: flex;
  margin-top: 7vh;
  gap: 64px;
  align-items: flex-end;
}

.hero-container {
  display: flex;
  max-width: 560px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.hero-container h1 {
  font-size: var(--heading-64-size);
  font-weight: var(--heading-64-weight);
  color: var(--neutro-700);
  margin: 0;
  height: fit-content;
}

.hero-container .texto_azul {
  color: var(--azul-principal);
  font-weight: 800;
}

.hero-container p {
  font-size: var(--body-18-medium-size);
  font-weight: var(--body-18-medium-weight);
  line-height: var(--body-18-medium-line);
  padding: 0px;

  width: fit-content;
  height: fit-content;
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--neutro-500);
}

.botoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  height: fit-content;
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .fundo-hero {
    padding: 0;
  }

  .secao-hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-container {
    width: 298px;
    align-items: center;
  }

  .botoes {
    align-items: center;
  }
  .hero-container h1 {
    font-size: var(--heading-32-size);
    margin: 0;
  }
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  width: 2px;
  background-color: #007bff; /* mesma cor do texto azul */
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
