.fundo-hero {
  background: var(--gradiente-azul-claro);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0 0 0;
}

/*
.secao-hero {
  display: flex;
  margin-top: 7vh;
  gap: 64px;
  align-items: flex-end;
  flex-direction: row;
}
*/

.secao-hero {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 16px;
  max-width: 1312px;
  padding: 0px 40px;

  margin-top: 7vh;
  align-items: flex-end;
  text-align: left;
}

.hero-container-foto {
  grid-column: span 6;
}

.hero-container {
  display: flex;
  max-width: 560px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  grid-column: span 6;
}

.hero-container h1 {
  font-size: var(--heading-64-size);
  font-weight: var(--heading-64-weight);
  color: var(--neutro-700);
  margin: 0;
  height: fit-content;
}

.hero-container .texto_azul {
  color: var(--azul-principal);
  font-weight: 800;
}

.hero-container p {
  font-size: var(--body-18-medium-size);
  font-weight: var(--body-18-medium-weight);
  line-height: var(--body-18-medium-line);
  padding: 0px;

  width: fit-content;
  height: fit-content;
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--neutro-500);
}

.botoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  height: fit-content;
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .secao-hero {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 16px;
    padding: 88px 24px 0px 24px;
    margin: 0px;
    align-items: flex-end;
    justify-content: start;
  }

  .hero-container {
    grid-column: span 4;
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    grid-column-start: 1;
    grid-column-end: 7;
  }

  .hero-container-foto {
    grid-column: span 4;
  }

  .fundo-hero {
    padding: 0;
  }

  .botoes {
    align-items: center;
  }
  .hero-container h1 {
    font-size: var(--heading-32-size);
    margin: 0;
  }
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  width: 2px;
  background-color: #007bff; /* mesma cor do texto azul */
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
