.fundo-hero{    
  background: var(--gradiente-azul-claro);  
  justify-items: center;
  padding: 5vh 0vw 0vh 0vw;
  display: grid;
}

.secao-hero{
  display: flex;
  margin-top: 5vh;
  gap: 64px;
}

.hero-container{
  display: flex;
  max-width: 560px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.hero-container h1{
  font-size: var(--heading-64-size);
  margin: 0;
}

.hero-container span{
  color: var(--azul-principal);

}

.hero-container p{
  font-size: var(--heading-18-size);
  font-weight: var(--heading-18-weight);
  line-height: var(--heading-18-line);
  margin-top: 16px;
  margin-bottom: 32px;
  color: var(--neutro-500);
}

.botoes{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .fundo-hero{
    padding: 0;    
  }

  .secao-hero{
    flex-direction: column;
    align-items: center;
    text-align: center;    
  }

  .hero-container{
    align-items: center;
  }

  .botoes{
    align-items: center;
  }
  .hero-container h1{
  font-size: var(--heading-32-size);
  margin: 0;
  }
  
}