.modulos-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cabecalho{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  max-width: 1232px;
  width: 100%;
  margin-top: 32px;
}
.cards-grid{  
  display: grid;   
  grid-template-columns: repeat(3, 1fr);
  max-width: 1232px;
  padding: 40px 0 64px 0;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}