.inteiro{
  width: 100%;
  display: flex;
  justify-content: center;
}

.fundo-unifenas{
  display: flex;
  max-width: 1232px;
  padding: 16px;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;
  border-radius: 16px;
  background: var(--azul-principal);
  margin-bottom: 40px;
}

.texto-unifenas{
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #FFF;
  gap: 32px; 
}

.texto-unifenas h2{
  font-size: var(--heading-18-size);
  font-weight: var(--heading-18-weight);
  line-height: var(--heading-18-line);
  color: var(--azul-claro-03);
  border-radius: 4px;
  padding: 8px 16px;
  background: var(--azul-claro-02);
  margin: 0; 
}

.texto-unifenas h3{
  font-size: var(--heading-40-size);
  font-weight: var(--heading-40-weight);
  line-height: var(--heading-40-line);
  margin: 0; 
}

.texto-unifenas span{
  font-weight: 800;
}

.texto-unifenas p{
  width: 468px;
  margin: 0; 
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.imagem-unifenas {
  position: relative;  
}

.imagem-unifenas img{
  width: 484.467px;
  flex-shrink: 0;
  align-self: stretch;
  aspect-ratio: 484.47/428.00;
}

@media screen and (max-width: 768px) {
  .fundo-unifenas{
    margin: 16px;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    padding: 16px;
  }

  .texto-unifenas{
    align-items: center;
    padding: 16px;
    max-width: 256px;
  }
  
  .texto-unifenas p{
    width: 100%;
    font-size: var(--body-14-medium-size);
    font-weight: var(--body-14-medium-weight);
    line-height: var(--body-14-medium-line);
  }
  
  .texto-unifenas h3{
    font-size: var(--heading-24-size);
    font-weight: var(--heading-24-weight);
    line-height: var(--heading-24-line);
  }
  
  .imagem-unifenas  {
    margin-top: 32px;
  }

  .imagem-unifenas img {
    width: 302px;
  }
}