.updates-page-container {
    position: relative; 
}

.updates-page-container .fundo-hero {
    position: relative;
    z-index: 2;
    margin-bottom: -200px; 
}

.unifenas-bg-stack {
    width: 100%;
    height: 600px; 
    margin-top: -200px; 
    position: relative; 
    z-index: 1;
}

.unifenas-bg-stack .bg-azul-ext {
    background: var(--azul-claro-03);
    height: 540px;
    width: 100%;
}

.unifenas-bg-stack .bg-branco-ext {
    background: #FFF;
    height: 300px;
    width: 100%;
}

.updates-page-container .inteiro { 
    margin-top: -400px; 
    position: relative;
    z-index: 4;
}